.logos {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0%;
   margin-bottom: 0;
   margin-left: 34%;
   padding-left: 2%;
   padding-right: 2%;
   padding-top: 2%;
    justify-content: center;
    text-align: center;
    color: #6cadd3;
}

.grid_kategori_1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5%;
    margin-top: 10%;
    margin: 5%;
}

.grid_kategori_2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5%;
    margin-top: 10%;
    margin: 5%;
}

